*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    overflow-x: hidden;

}

.Head{
    min-height: 100%;
    width: 100%;
    background-color: black;
}
    
nav{
justify-content: space-between;
align-items: center;
display: flex;
padding: 8px 11px;
}

nav img{
    width: 170px;
    padding-top: 20px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 12px;
    position: relative;
}

.nav-links ul li a{
text-decoration: none;
color: whitesmoke;
font-size: 19px;
text-transform: capitalize;
}

.nav-links ul li a:hover{
    transition: 2ms;
    background-color: #723BFB;
    border-radius: 20px;
    padding: 5px;
}

.textbox{
    width: 90%;
    position: absolute;
    color: whitesmoke;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 50;
}

.textbox p{
    margin-top: 6px;
}

.textbox a{
    display: inline-block;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid #8547FC;
    border-radius: 5%;
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    background: #723BFB;
    padding: 10px 25px;
    margin-top: 3%;
    cursor: pointer;
}
.textbox a:hover{
    border: 1px solid #A45CFC;
    background: #A45CFC;
    transition: 1ms;
}

.section2{
    width: 100%;
    min-height: 50%;
    background-color: black;
    padding: 20px;
}
.section2 h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}
.section2 p{
    text-align: center;
    color: white;
    margin-top: 2%;
}
.sect3 {
    width: 100%;
    min-height: 80%;
    background-image: linear-gradient(black, #8547FC);
}


.sect3 img{
    padding: 7px;
    margin: 3%;
    width: 17%;
    border: 2px solid #C4C2FF;
    border-radius: 35%;
    height: 40%;
}
.sect4{
    height: 100%;
    width: 100%;
    background-position: center;
    background: linear-gradient( to bottom,rgba(0,0,0, 0), rgba(0,0,0, 100)),url(images/BAN\ 1.png);
    background-size: cover;
}

.sect4 h1{
    text-align: center;
    font-size: 5rem;
    color: whitesmoke;
    padding-top: 20px;
}
.sect4 h2{
color: whitesmoke;
text-align: center;
padding: 10px;
margin: 2%;
font-size: 20px;

}
.sect4 h4{
    text-align: left;
    color: whitesmoke;
    text-align: center;
}
.team{
    min-height: 90%;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
}

.team h1{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 5rem;
    margin-bottom: 5%;
}
.team img{
    margin:1%;
    width: 20%;
    margin-left: 40%;
    border: 1px solid whitesmoke;
    padding: 3px;
    display: block;
    
    
}

.faq{
    width: 100%;
    height: 90%;
    background-color: black;
}
.faq h1{
    text-align: center;
    font-size: 45px;
    color: whitesmoke;
}



 .faqsec{
    background-color:black ;
    height: 110%;
    width: 100%;
    padding-top: 8rem;

}


h2{
   
    color: white;
    font-size: 37px;
    text-align: center;
    padding-bottom: 2rem;
}

.layout { 

            width: 600px; 
            margin: auto; 
            

        } 

        .accordion{ 

            padding: 10px; 
            margin-top: 10px; 
            margin-bottom: 10px; 
            background: rgb(117, 116, 224); 
            border-radius: 10px; 

        } 

        .accordion__question p{ 

            margin: 5px; 
            padding: 0; 
            color: white;
            font-size: 20px; 

        } 

        .accordion__answer p{ 

            margin: 6px; 
            margin-right: 4px;

            padding: 11px; 

            font-size: large; 

            color: white;

            background: rgb(117, 116, 224); 

            border-radius: 10px;  

        } 

        .accordion:hover{ 

            cursor: pointer; 

        } 

        .accordion__answer { 

            display: none; 
            color: white;

        }  

        .accordion.active .accordion__answer { 

            display: block; 
            color: white;

        } 

.discord{
    min-height: 70%;
    width: 100%;
    background-image: linear-gradient( rgba( 3,4,6,0.7),rgba( 3,4,6,0.7)), url(images/BAN\ 1\ C2.png);
    background-size: cover;
    background-position: center;
}

.discord h1{
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    padding-top: 20px;

}

.discord p{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    padding-top:10px ;
}
/* .discord a{
    display: inline-block;
    font-size: 25px;
    border: 3px solid #8547FC;
    border-radius: 5%;
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    background: #723BFB;
    padding: 10px 25px;
    margin-top: 10%;
    cursor: pointer;
    margin-left: 20rem;
} */

button{
    background-color: #723BFB;
    color: whitesmoke;
    padding: 10px 25px;
    border-radius: 4%;
    border: 3px solid #8547FC;
    /* margin-top: 10%; */
    text-align: center;
    /* margin-left: 305px; */
}
button a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    
    
}
.discord-sub1{
    height: 200px;
    position: relative;

}
.discord-sub2{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
}

.footer{
    width: 100%;
    height: 13%;
    background-color: black;
}

.footer h3{
    text-align: center;
    color: whitesmoke;
    padding-top: 25px;
}




nav  .fa {
    display: none;
}
    


 @media(max-width: 768px){

    nav img{
        height: 36px;
        width: 57px;
    }

    .head{
       max-height: 70%;
    }
    
     
    .textbox p{
    font-size: 12px;
    margin-bottom: 5px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        height: 80vh;
        width: 20vh;
        top: 0;
        right:-200px;
        background:#723BFB;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: white;
         margin: 10px;
         font-size: 22px;
        cursor: pointer;
    }

    .section2{
        min-height: 30%;
        padding-top: 4px;
        width: 100%;
    
    }
    .section2 h1{
        font-size: 20px;
        text-align: center;
    
    }
    .section2 p{
        padding-right: 7px;
        font-size: 7px;
        text-align: center;
    }
    .sect3{
        height: 60%;
        width: 100%;
    }

    .sect3 img{
        height: 12%;
        margin-top: 60%;
        padding: 6px;
        margin: 4px;
        width: 17%;
        margin-left: 7px;
        
        
    }
    .sect4{
    width: 100%;
    height: 60%;
    }
    .sect4 h1{
    font-size: 37px;
    }
    .team{
    min-height: 80;
    }
    .team img{
        width: 30%;
        display: block;
        margin: 10px;
        margin-left: 30%;
        padding-bottom: 2px;
    }
  .faqsec{
      height: 90%;
  }

  .accordion{
      margin-right: 6px;
  }
  

    /* .discord a{
    display: inline-block;
    font-size: 13px;
    position: relative;
    padding: 10px 20px;
    margin-top: 10%;
    } */
    button{
        margin-bottom: 20px;
        /* display: block; */
    }
    button a{
        font-size: 15px;
        /* text-align: center; */
        
    }
    .discord-sub1{
        height: 200px;
        position: relative;
        text-align: center;
    
    }
    .discord-sub2{
        margin: 0;
        position: absolute;
        top: 0;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 50%);
    }

}